.details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 30px;
}


.content {
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 25px;
    color: white;
    
}


.amiibo-image img {
    height: 500px;
    margin: 30px;
    margin-top: 75px;
    margin-left: 400px;
}


.return-search a {
    text-decoration: none;
    color: white;
}



.return-search img:hover {
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(77, 77, 77, 0.5);
}




